<div class="footer-nav-area" id="footerNav">
    <div class="container px-0">
        <!-- =================================== -->
        <!-- Paste your Footer Content from here -->
        <!-- =================================== -->
        <!-- Footer Content -->
        <div class="footer-nav position-relative footer-style-four ">
            <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
                <li class="active"><a href="/">
                        <i class="bi bi-house h5 mb-0"></i>
                    </a><span>Home</span></li>
                <li><a href="/all-services">
                        <i class="bi bi-box-seam  h5 mb-0"></i>
                    </a><span>Services</span></li>

                <li><a href="/profile">
                        <i class="bi bi-person-circle h5 mb-0"></i>
                    </a><span>Profile</span></li>
            </ul>
            <!-- # Footer Four Layout End -->
        </div>
    </div>
</div>