<style>
    html,
    body {
        background-color: rgb(243, 243, 243);
    }

    .about-img {
        max-width: 500px;
        height: auto;
        border-radius: 20px;
    }
</style>

<br><br>
<div class="container-md mt-5 p-5">
    <div class="d-flex gap-4 align-items-start">
        <!-- Image on the left -->
        <div class="">
            <img src="/images/img/workspace.jpg" alt="" class="about-img">
        </div>

        <!-- Content on the right -->
        <div class="p-2">
            <h4>About Us</h4>
            <p>
            
SmartConnect is a revolutionary platform designed to enhance community living through seamless collaboration and efficient management. From connecting residents to managing events, facilities, and finances, we aim to create a smarter, more connected neighborhood. 

        </div>
    </div>

    <div class="row g-4 mt-4">
        <div class="col-lg-6">
            <div class="card shadow-sm p-5">
                <img src="/images/icons/vision.png" width="20%" class="mb-3">
                <h4><b>Our Vision</b></h4>
                <p>
                    
To revolutionize community living by creating a smart, connected, and harmonious environment where technology empowers seamless collaboration, efficient management, and enriched interactions for a thriving society.
                </p>
                <br>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow-sm p-5">
                <img src="/images/icons/mission.png" width="20%" class="mb-3">
                <h4><b>Our Mission</b></h4>
                <p>
                    Our mission is to simplify community interactions, foster engagement, and provide tools that empower everyone in the community. Together, let's build a thriving and harmonious environment!
                Together, let's build a thriving and harmonious environment!
                </p>
            </div>
        </div>
    </div>



</div>