<style>
    body {
        background-color: #E4A11B;
    }
</style>

<div class="page-content-wrapper">
    {{!-- <div class="container">
        <div class="card mb-3 pt-5 bg-warning">
            <div class="card-body" style="background-color:#E4A11B">

                <div class="row g-3 bg-warning">
                    <div class="col-4 mb-3 ">
                        <a href="/home">
                            <div class="feature-card mx-auto text-center">
                                <div class="card mx-auto bg-light"><img src="/assets2/img/demo-img/bootstrap.png"
                                        alt="">
                                </div>
                                <p class="mb-0" style="color: white">Facilities</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href="/home">
                            <div class="feature-card mx-auto text-center">
                                <div class="card mx-auto bg-gray"><img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </div>
                                <p class="mb-0" style="color: white">Emergency</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href="/events">
                            <div class="feature-card mx-auto text-center">
                                <div class="card mx-auto bg-gray"><img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </div>
                                <p class="mb-0" style="color: white">Events</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href="/home">
                            <div class="feature-card mx-auto text-center">
                                <div class="card mx-auto bg-gray"><img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </div>
                                <p class="mb-0" style="color: white">Gallery</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href="/home">
                            <div class="feature-card mx-auto text-center">
                                <div class="card mx-auto bg-gray"><img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </div>
                                <p class="mb-0" style="color: white">Maintenance</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href="/home">
                            <div class="feature-card mx-auto text-center">
                                <div class="card mx-auto bg-gray"><img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </div>
                                <p class="mb-0" style="color: white">Survey</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href="/home">
                            <div class="feature-card mx-auto text-center">
                                <div class="card mx-auto bg-gray"><img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </div>
                                <p class="mb-0" style="color: white">Business</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href="/home">
                            <div class="feature-card mx-auto text-center">
                                <div class="card mx-auto bg-gray"><img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </div>
                                <p class="mb-0" style="color: white">Alerts</p>
                            </div>
                        </a>
                    </div>

                    </a>
                </div>
            </div>
        </div>
    </div> --}}

    <div class="top-products-area pt-5 pb-5">
        <div class="container">
            <div class="card mb-3">
                <div class="card-body p-3">
                    <div class="form-group mb-0">
                        <input class="form-control" id="elementsSearchInput" type="text" onkeyup="elementsSearch()"
                            placeholder="Search Services...">
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <!-- Single Top Product Card -->
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card single-product-card">
                        <div class="card-body p-3">
                            <a class=" justify-content-center mb-3 d-block" href="">
                                <center>
                                    <img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </center>
                            </a>
                            <!-- Product Title --><a class="product-title d-block text-center"
                                href="page-shop-details.html">Facilities</a>
                            <!-- Product Price -->

                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card single-product-card">
                        <div class="card-body p-3">
                            <a class=" justify-content-center mb-3 d-block" href="">
                                <center>
                                    <img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </center>
                            </a>
                            <!-- Product Title --><a class="product-title d-block text-center"
                                href="page-shop-details.html">Emergency</a>
                            <!-- Product Price -->

                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card single-product-card">
                        <div class="card-body p-3">
                            <a class=" justify-content-center mb-3 d-block" href="">
                                <center>
                                    <img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </center>
                            </a>
                            <!-- Product Title --><a class="product-title d-block text-center" href="/events">Events</a>
                            <!-- Product Price -->

                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card single-product-card">
                        <div class="card-body p-3">
                            <a class=" justify-content-center mb-3 d-block" href="/gallery">
                                <center>
                                    <img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </center>
                            </a>
                            <!-- Product Title --><a class="product-title d-block text-center"
                                href="/gallery">Gallery</a>
                            <!-- Product Price -->

                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card single-product-card">
                        <div class="card-body p-3">
                            <a class=" justify-content-center mb-3 d-block" href="">
                                <center>
                                    <img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </center>
                            </a>
                            <!-- Product Title --><a class="product-title d-block text-center"
                                href="page-shop-details.html">Maintenance</a>
                            <!-- Product Price -->

                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card single-product-card">
                        <div class="card-body p-3">
                            <a class=" justify-content-center mb-3 d-block" href="">
                                <center>
                                    <img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </center>
                            </a>
                            <!-- Product Title --><a class="product-title d-block text-center"
                                href="page-shop-details.html">Survey</a>
                            <!-- Product Price -->

                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card single-product-card">
                        <div class="card-body p-3">
                            <a class=" justify-content-center mb-3 d-block" href="">
                                <center>
                                    <img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </center>
                            </a>
                            <!-- Product Title --><a class="product-title d-block text-center"
                                href="page-shop-details.html">Business</a>
                            <!-- Product Price -->

                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card single-product-card">
                        <div class="card-body p-3">
                            <a class=" justify-content-center mb-3 d-block" href="">
                                <center>
                                    <img src="/assets2/img/demo-img/bootstrap.png" alt="">
                                </center>
                            </a>
                            <!-- Product Title --><a class="product-title d-block text-center"
                                href="page-shop-details.html">Alerts</a>
                            <!-- Product Price -->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>