<style>
    html,
    body {
        background-color: rgb(243, 243, 243);
    }

    .about-img {
        border-radius: 20px;
    }

    .service-ul li {
        list-style: disc;
    }
</style>
<br>
<div class="container-lg mt-5">
    <img src="/images/img/services.png" alt="" class="about-img">
</div>
<div class="container mt-5 mb-5">
    <h2>Our Services</h2>

    <p>Streamlining community life with features like user management, facility booking, secure payments, event coordination, emergency assistance, and a local business hub, all designed to foster engagement and convenience.</p>

    <ul class="service-ul ">
        <li>
            <strong>Resident Management:</strong><br>  Simplified user registration, profile updates, and role assignments.
        </li><br>
        <li>
            <strong>Facility Booking:</strong> <br> Hassle-free booking of shared amenities like clubhouses, pools, and more.
        </li><br>
        <li>
            <strong>Payment Solutions: </strong><br> Secure and seamless payment processing for registrations, events, and facilities.
        </li><br>
        <li>
            <strong>Event Coordination:</strong> <br> Organize, manage, and participate in community events effortlessly.
            
        </li><br>
        <li>
            <strong>Community Engagement:</strong><br> Access announcements, participate in polls, and share feedback.
        </li><br>
        <li>
            <strong>Emergency Assistance:</strong> <br> Quick access to emergency contacts and alert systems.
        </li><br>
        <li>
            <strong>Financial Oversight:</strong><br> Streamlined management of community income, expenses, and reports.
        </li>
    </ul>
</div>