<div class="hero-block-wrapper bg-warning">
    <!-- Styles -->
    <div class="hero-block-styles">
        <div class="hb-styles1" style="background-image: url('img/core-img/dot.png')"></div>
        <div class="hb-styles2"></div>
        <div class="hb-styles3"></div>
    </div>
    <div class="custom-container">
        <!-- Skip Page -->
        {{!-- <div class="skip-page"><a href="page-home.html">Skip</a></div> --}}
        <!-- Hero Block Content -->
        <div class="hero-block-content"><img class="mb-4" src="/images/img/communityphoto.png" alt="">
            <h2 class="display-4 text-white mb-3">Welcome to SmartConnect</h2>
            <p class="text-white"> Simplifying Community Living!</p><a
                class="btn btn-light btn-lg w-100" href="/signin">Get Started</a>
        </div>
    </div>
</div>