<div class="page-content-wrapper p-2 pt-4">

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5>Add New Facilities</h5> <br>
                <form action="/add-facilities" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label class="form-label" for="exampleInputText">Facilities Title</label>
                        <input class="form-control" name="title" id="exampleInputText" type="text"
                            placeholder="Hall, Pool, Tables, Chairs" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="exampleInputText">Availability</label>
                        <input class="form-control" name="availability" id="exampleInputText" type="text"
                            placeholder="Eg. 10 Chairs | 2 Pools" required>
                    </div>

                    {{!-- <div class="form-group">
                        <label class="form-label" for="exampleInputText">Price</label>
                        <input class="form-control" name="Price" id="exampleInputText" type="number" placeholder=""
                            required>
                    </div> --}}


                    <div class="form-group">
                        <label class="form-label" for="exampleTextarea1">Desc</label>
                        <textarea class="form-control" id="exampleTextarea1" name="desc" cols="3" rows="5"
                            placeholder="Write something..."></textarea>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="Image">Image</label>
                        <input class="form-control" name="Image" id="Image" type="file" required>
                    </div>

                    <button class="btn btn-primary w-100 d-flex align-items-center justify-content-center"
                        type="submit">Add Facilities
                        <svg class="bi bi-arrow-right-short" width="24" height="24" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                            </path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>